<% content_for :head do %>

    <% javascript_tag do %>
    $(document).ready(function (){
        $("#tb_plantilla").submitWithAjax();
    });
    <% end %>
<% end %>

<% form_for @tb_plantilla, :html => {:class => "plantillas", :id => "tb_plantilla"} do |f| %>
    <div id="errores"></div>
    <p>
      <%= f.label :pl_codigo, "Codigo"%>
      <%= f.text_field :pl_codigo, :class => "text"%>
    </p>
    <p>
      <%= f.label :pl_descripcion, "Descripcion"%>
      <%= f.text_area :pl_descripcion, :size => "66x5" %>
    </p>
    <p>
      <%= f.label :pl_plantilla, "Plantilla", :class => "plantilla" %>
      <%= f.tinymce :pl_plantilla%>
    </p>
    <p>
      <%= f.submit "Guardar" %>
    </p>
<% end %>